<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>家庭記帳本</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
  
  <header>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a href="/" class="navbar-brand fw-bold">家庭記帳本</a>
        <a href="/users/logout" class="btn btn-primary">登出</a>
      </div>
    </nav>
  </header>

  {{{ body }}}

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/0a9cb45980.js" crossorigin="anonymous"></script>
</body>
</html>