<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-1 mb-4">
      *必填欄位
    </div>
    <div class="col-2 mb-4">
      <h5 class="fw-bold">請輸入你的支出</h5>
    </div>
  </div>
  <form action="/records" method="POST">
    <div class="row justify-content-center mb-3">
      <lable for="name" class="col-1 fw-bold">名稱*:</lable>
      <div class="col-2"><input type="text" id="name" name="name" class="form-control" required="required"></div>
    </div>

    <div class="row justify-content-center mb-3">
      <lable for="date" class="col-1 fw-bold">日期*:</lable>
      <div class="col-2"><input type="date" id="date" name="date" class="form-control" required="required"></div>
    </div>

    <div class="row justify-content-center mb-3">
      <lable for="categoryId" class="col-1 fw-bold">類別*:</lable>
      <div class="col-2"><select name="categoryId" id="categoryId" class="form-control required">
        <option value="" disabled selected hidden>select</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option>
      </select></div>
    </div>

    <div class="row justify-content-center mb-3">
      <lable for="amount" class="col-1 fw-bold">金額*:</lable>
      <div class="col-2"><input type="text" id="amount" name="amount" class="form-control" required="required"></div>
    </div>

    <div class="row">
      <div class="col text-center mt-4">
        <button type="submit" class="btn btn-primary">新增支出</button>
      </div>
    </div>
  </form>
</div>